.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
}

.navigation {
  display: flex;
  column-gap: 40px;
  align-self: start;

  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}
.wrapperMenuLinks {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.headerLink {
  padding: 20px 0;
  text-decoration: none;
  color: inherit;
}

.active {
  color: #2c05f2;
}

.headerLink:hover,
.headerLink:focus {
  color: #2c05f2;
}
