@import '../node_modules/normalize.css/normalize.css'; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Dela Gothic One';
  background-color: #ffde59;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
